<div class="row">
  <div class="col-md-6">
    <div class="card">
      <%= image_tag @movie.image.url, alt: "Movie Poster Image", class: 'card-img-top' %>
      <div class="card-body">
        <h5 class="card-title"><%= @movie.title %></h5>
        <p class="card-text"><%= @movie.description %><hr>
          Uploaded by: <%= @movie.user.email %></p>
        <div class="card-footer" >
          <div class="btn-group">
            <%= link_to "Back", root_path, class: 'btn btn-primary' %>
            <%= link_to "Edit", edit_movie_path(@movie), class: 'btn btn-success' %>
            <%= link_to "Delete", movie_path(@movie), method: :delete, data: { confirm: 'Are you sure?'}, class: 'btn btn-warning' %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title"><%= @movie.title %></h3>
        <div class="card-text"><%= @movie.description.truncate(140) %>
        </div>
      </div>
    </div>
  </div>
</div>
